* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Commom Classes */
.capitalize{
    text-transform: capitalize;
}

.flex-box{
    display: flex;
}

body {
    width: 100%;
    background-color: #0c111b;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    width: 100%;
    min-height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c111b;
    z-index: 10;
    align-items: center;
    padding: 0 50px;
}

.brand-logo {
    height: 40px;
}

.nav-links {
    margin-top: 10px;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    margin-left: 22px;
    color: white;
    opacity: 0.8;
}

.kids {
    height: 17px;
    margin-top: 1px;
}

#kids-link {
    opacity: 1;
}

.search-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.search-box {
    position: relative;
}

.search-box input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #aaa;
    outline: none;
    color: white;
    height: 32px;
    width: 240px;
    font-size: 16px;
    font-weight: 700px;
    transition: .5s;
}

.search-box input:focus {
    width: 400px;
    border-color: #1f80e0;
}

.search-box i {
    color: #aaa;
    display: inline-block;
    position: absolute;
    bottom: 8px;
    right: 10px;
    margin-bottom: 0;
}

.subscribe-btn {
    background-color: #1f80e0;
    padding: 0 12px;
    margin: 0 10px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    display: block;
    text-transform: uppercase;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-left: 20px;
}

.login-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    opacity: .9;
}

.carousel-container{
    height: 449px;
    min-height: 400px;
    width: 100%;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 60px;

}

.carousel{
    width:92%;
    height: 100%;
    position: relative;
    margin: auto;
}

.slider{
    flex:0 0 auto;
    margin-right: 14px;
    background: rgba(0,0,0,.5);
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left:0;
    overflow: hidden;
    transition: 1s;
    /* animation: loop 15s infinite; */
}

.slider:first-child{
    animation: loop 25s infinite;
}

@keyframes loop {
    3%,20%{
        margin-left: -101.2%;
    }
    23%,40%{
        margin-left:-202%;
    }
    43%,60%{
        margin-left:-303.2%;
    }
    63%,80%{
        margin-left:-404.1%;
    }
    83%,100%{
        margin-left:-505.1%;
    }
    
}

.slider img{
    width: 80%;
    min-height: 100%;
    object-fit: cover;
    margin-left: auto;
    display: block;
}

.slide-details{
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, #030b17 60%, #0c111b00);
    color: white;
    padding-left: 50px;
    padding-top: 80px;
}


.movie-data{
    margin-top: 10px;
    opacity: .8;
}

.data-first{
    font-size: 3px;
    vertical-align: middle;
    padding: 6px;
}

.movie-details{
    width:80%;
    line-height: 28px;
    margin-top: 10px;
    opacity: .8;
}






